{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-react-remove-prop-types"
  ],
  "presets": [
    "env",
    "react",
    "jest"
  ],
  "highlightCode": true
}
